<!DOCTYPE html>
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8"/>
    <title>IDStack</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="IDStack | The common protocol for document verification built on Blockchain" name="description"/>
    <meta content="www.idstack.one" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    <link href="assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css"/>
    <link href="assets/global/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css"/>
    <link href="assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css"/>
    <link href="assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="assets/layout/css/layout.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/layout/css/themes/blue.min.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="assets/layout/css/custom.min.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="assets/favicon.png"/>
</head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-closed page-md">
<!-- BEGIN HEADER -->
<div id="header"></div>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"></div>
<!-- END HEADER & CONTENT DIVIDER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div id="sidebar"></div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>Auto Validator Configuration
                        <small> Change configurations of auto validator to verify documents using the digital
                            signatures
                        </small>
                    </h1>

                </div>
                <!-- END PAGE TITLE -->
                <!-- BEGIN PAGE BASE CONTENT -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light  portlet-form">
                            <div class="portlet-title">
                                <div class="caption font-green-haze">
                                    <i class="icon-user font-green-haze"></i>
                                    <span class="caption-subject font-green bold uppercase"> Basic Details
                                                                       </span>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <form role="form" id="basic_details">
                                    <div class="form-body">
                                        <div class="form-group form-md-line-input">
                                            <label for="basic_details"
                                                   class="col-md-2 control-label">Organization </label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" id="organization"
                                                       placeholder="Organization">
                                                <div class="form-control-focus"></div>
                                            </div>
                                        </div>

                                        <div class="form-group form-md-line-input">
                                            <label for="basic_details"
                                                   class="col-md-2 control-label">Email</label>
                                            <div class="col-md-4">
                                                <input type="email" class="form-control" id="email"
                                                       placeholder="Email">
                                                <div class="form-control-focus"></div>
                                            </div>
                                        </div>

                                        <div class="form-group form-md-line-input">
                                            <label for="basic_details"
                                                   class="col-md-2 control-label">Web URL <span data-toggle="tooltip"
                                                                                                title="Define the URL of your web service">
                                                        <i class="icon-question"></i> </span></label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" id="web"
                                                       placeholder="Url">
                                                <div class="form-control-focus"></div>
                                            </div>
                                        </div>
                                        <div class="form-actions right">
                                            <button type="reset" class="btn default">Reset</button>
                                            <button type="button" class="btn green" onclick="setBasicDetails();">Save
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN SIGN FORM PORTLET-->
                        <div class="portlet light  portlet-form">
                            <div class="portlet-title">
                                <div class="caption font-green-haze">
                                    <i class="icon-badge font-green-haze"></i>
                                    <span class="caption-subject font-green bold uppercase"> Digital Signature Certificates </span>
                                </div>
                            </div>
                            <!--<div class="portlet-title">-->
                            <!--<div class="caption">-->
                            <!--<i class="icon-settings"></i>-->
                            <!--<span class="caption-subject bold uppercase"> Digital Signature Certificates</span>-->
                            <!--</div>-->
                            <!--</div>-->
                            <div class="portlet-body form">
                                <form role="form" id="sign-certs-form" enctype="multipart/form-data">
                                    <div class="form-body">

                                        <div class="form-group">
                                            <label class="control-label col-md-2">Public Certificate File <span
                                                    data-toggle="tooltip"
                                                    title="Upload your public certificate to the server">
                                                        <i class="icon-question"></i> </span></label>
                                            <div class="col-md-4">
                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                        <span class="btn green btn-file">
                                                            <span class="fileinput-new"> File </span>
                                                            <span class="fileinput-exists"> Change </span>
                                                            <input type="file" name="pubCert" id="CertFileInput"
                                                            >
                                                        </span>
                                                    <span class="fileinput-filename"> </span> &nbsp;
                                                    <a href="javascript:;" class="close fileinput-exists"
                                                       data-dismiss="fileinput"> </a>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <p></p>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-2">Private Key File <span
                                                    data-toggle="tooltip"
                                                    title="Upload your private certificate to the server">
                                                        <i class="icon-question"></i> </span></label>
                                            <div class="col-md-4">
                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                        <span class="btn green btn-file">
                                                            <span class="fileinput-new"> File </span>
                                                            <span class="fileinput-exists"> Change </span>
                                                            <input type="file" name="pvtCert" id="PvtFileInput"
                                                            >
                                                        </span>
                                                    <span class="fileinput-filename"> </span> &nbsp;
                                                    <a href="javascript:;" class="close fileinput-exists"
                                                       data-dismiss="fileinput"> </a>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-md-line-input">
                                            <label for="certificate_pass"
                                                   class="col-md-2 control-label">Password <span data-toggle="tooltip"
                                                                                                 title="Password-protect your private certificate">
                                                        <i class="icon-question"></i> </span></label>
                                            <div class="col-md-4">
                                                <input type="password" class="form-control" id="certificate_pass"
                                                       placeholder="Password">
                                                <div class="form-control-focus"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions right">
                                        <button type="reset" class="btn default">Reset</button>
                                        <button type="submit" class="btn green">Save
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- END Verify FORM PORTLET-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN SAMPLE FORM PORTLET-->
                        <div class="portlet light ">
                            <div class="portlet-title">
                                <div class="caption font-green-haze">
                                    <i class="icon-docs font-green-haze"></i>
                                    <span class="caption-subject font-green bold uppercase"> Document type Configuration <span
                                            data-toggle="tooltip"
                                            title="Define automatic signing settings to each document type">
                                                        <i class="icon-question"></i> </span> </span>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <form role="form" class="form-horizontal">
                                    <div class="form-body">

                                        <div class="table-scrollable table-scrollable-borderless">
                                            <table class="table table-hover table-light" id="access_list">
                                                <thead>
                                                <tr class="uppercase">
                                                    <th> Document type</th>
                                                    <th> Automatic validation <span data-toggle="tooltip"
                                                                                    title="Enables automatic validation for the selected document type"><i
                                                            class="icon-question"></i> </span></th>
                                                    <th> Issuer is equal to Extractor <span data-toggle="tooltip"
                                                                                            title="Enables automatic validation if extractor is the issuer">
                                                        <i class="icon-question"></i> </span></th>
                                                    <th> Sign Content <span data-toggle="tooltip"
                                                                            title="Enables automatic validation of content">
                                                        <i class="icon-question"></i> </span></th>
                                                </tr>
                                                </thead>
                                                <script id="access_template" type="text/html">
                                                    <tr>
                                                        <td> ${stringBeautify(doc_type)}</td>
                                                        <td>
                                                            <div class="md-checkbox">
                                                                <input type="checkbox"
                                                                       id=${doc_type+"-automatic_processable"}
                                                                       class="md-check" {{if automatic_processable}}
                                                                       checked {{/if}} >
                                                                <label for=${doc_type+"-automatic_processable"}>
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span></label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="md-checkbox has-error">
                                                                <input type="checkbox"
                                                                       id=${doc_type+"-issuer_equal_extractor"}
                                                                       class="md-check" {{if issuer_equal_extractor}}
                                                                       checked {{/if}}>
                                                                <label for=${doc_type+"-issuer_equal_extractor"}>
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span></label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="md-checkbox has-info">
                                                                <input type="checkbox"
                                                                       id=${doc_type+"-content_signable"}
                                                                       class="md-check" {{if content_signable}} checked
                                                                       {{/if}}>
                                                                <label for=${doc_type+"-content_signable"}>
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span></label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </script>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="form-actions right">
                                        <button type="reset" class="btn default">Reset</button>
                                        <button type="button" class="btn green" onclick="setDocumentConfig()">Save
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- END SAMPLE FORM PORTLET-->
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-check font-green"></i>
                                    <span class="caption-subject font-green bold uppercase">Blacklist/ Whitelist configuration</span>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <!-- BEGIN FORM-->
                                <form action="index.html" class="form-horizontal form-row-seperated">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                                                               <div class="form-group form-md-line-input">
                                                    <div class="input-group">
                                                        <div class="input-group-control">
                                                            <input type="text" class="form-control edited"
                                                                   id="new-whitelist-item" placeholder="White Member">
                                                        </div>
                                                        <span class="input-group-btn btn-left">
                                                        <button class="btn blue-madison" type="button"
                                                                id="add-whitelist-item"><span data-toggle="tooltip"
                                                                                              title="If a whitelist member has previously signed, I too will automatically sign">
                                                        <i class="icon-question"></i> </span> Add <i
                                                                class="icon-arrow-right"></i></button>

                                                    </span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <select multiple="multiple" class="multi-select" id="my_multi_select1"
                                                        name="my_multi_select1[]">
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-md-line-input">
                                                    <div class="input-group">
                                                        <span class="input-group-btn btn-left">
                                                            <button class="btn blue-madison" type="button"
                                                                    id="add-blacklist-item"> <i
                                                                    class="icon-arrow-left"></i>  Add <span
                                                                    data-toggle="tooltip"
                                                                    title="If a blacklist member has previously signed, I will automatically ignore">
                                                        <i class="icon-question"></i> </span></button>
                                                        </span>
                                                        <div class="input-group-control">
                                                            <input type="text" class="form-control edited"
                                                                   id="new-blacklist-item" placeholder="Black Member">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions right">
                                        <button type="reset" class="btn default">Reset</button>
                                        <button type="button" class="btn green" onclick="saveBlackWhiteList()">Save
                                        </button>
                                    </div>
                                </form>
                                <!-- END FORM-->
                            </div>
                        </div>
                        <!-- END PORTLET-->
                    </div>
                </div>


                <!-- END PAGE BASE CONTENT -->
            </div>
            <!-- END PAGE HEAD-->


        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->

<!-- Start wrapper for jquery script imports  -->
<script>if (typeof module === 'object') {
    window.module = module;
    module = undefined;
}</script>

<script type="text/javascript" src="assets/global/plugins/jquery.min.js"></script>

<!-- End wrapper for jquery script imports -->
<script>if (window.module) module = window.module;</script>

<script>
    var json_doc;
    var varProperties;
    var blackList = [];
    var whiteList = [];
    var blackListUl;
    var whiteListUl;
    $(function () {
        $("#header").load("layout/header.html");
        $("#sidebar").load("layout/sidebar.html");
        $.getJSON("properties.json", function (json) {
            varProperties = json;
            //block blacklist, whitelist
            $(".ms-list").css("height", "300px");
            blackListUl = $(".ms-selection .ms-list");
            whiteListUl = $(".ms-selectable .ms-list");
            getBasicDetails();
            getDocumentConfig();
            getWhiteList();
            getBlackList();
        });
    });


    $("#add-blacklist-item").click(function () {
        if ($("#new-blacklist-item").val() != "") {
            var newValue = $("#new-blacklist-item").val();
            $("#new-blacklist-item").val("");
            blackListUl.append("<li selected class='ms-elem-selection ms-selected'><span>" + newValue + "</span></li>");
            blackList.push(newValue);
        }
    });

    $("#add-whitelist-item").click(function () {
        if ($("#new-whitelist-item").val() != "") {
            var newValue = $("#new-whitelist-item").val();
            $("#new-whitelist-item").val("");
            whiteListUl.append("<li class='ms-elem-selectable'><span>" + newValue + "</span></li>");
            whiteList.push(newValue);
        }
    });

    function saveBlackWhiteList() {
        setWhiteList();
        setBlackList();

    }


    //Web service calls
    function getBasicDetails() {
        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "http://" + varProperties.validator.host + "/api-validator/" + varProperties.validator.apiVersion + "/" + varProperties.validator.apiKey + "/getconfig/basic/",
            "method": "GET",
            "headers": {
                "Authorization": "Basic " + btoa(varProperties.validator.userName + ":" + varProperties.validator.password)
            }
        }
        $.ajax(settings).done(function (response) {
            console.log(response);
            $('#organization').val(response.organization);
            $('#email').val(response.email);
            $('#web').val(response.web);

        }).fail(function () {
            toastr.warning("Can't access basic details saving api");
        });
    }


    function setBasicDetails() {
        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "http://" + varProperties.validator.host + "/api-validator/" + varProperties.validator.apiVersion + "/" + varProperties.validator.apiKey + "/saveconfig/basic/",
            "method": "POST",
            "headers": {
                "content-type": "application/json",
                "Authorization": "Basic " + btoa(varProperties.validator.userName + ":" + varProperties.validator.password)
            },
            "processData": false,
            "data": JSON.stringify({
                "organization": document.getElementById('organization').value,
                "email": document.getElementById('email').value,
                "web": document.getElementById('web').value
            })
        }

        $.ajax(settings).done(function (response) {
            console.log(response);
            toastr.info("Basic details added successfully!");
        }).fail(function () {
            toastr.warning("Can't access get basic details api");
        });
    }

    function getDocumentConfig() {
        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "http://" + varProperties.validator.host + "/api-validator/" + varProperties.validator.apiVersion + "/" + varProperties.validator.apiKey + "/getconfig/document/",
            "method": "GET",
            "headers": {
                "Authorization": "Basic " + btoa(varProperties.validator.userName + ":" + varProperties.validator.password)
            }
        }
        $.ajax(settings).done(function (response) {
            console.log(response);

            $("#access_template").tmpl(response.document).appendTo("#access_list");
        }).fail(function () {
            toastr.warning("Can't access get document api");
        });
    }


    function setDocumentConfig() {
        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "http://" + varProperties.validator.host + "/api-validator/" + varProperties.validator.apiVersion + "/" + varProperties.validator.apiKey + "/saveconfig/document/",
            "method": "POST",
            "headers": {
                "content-type": "application/json",
                "Authorization": "Basic " + btoa(varProperties.validator.userName + ":" + varProperties.validator.password)
            },
            "processData": false,
            "data": JSON.stringify(
                {
                    "document": [
                        {
                            "doc_type": "transcript",
                            "automatic_processable": document.getElementById("transcript" + "-" + "automatic_processable").checked,
                            "issuer_equal_extractor": document.getElementById("transcript" + "-" + "issuer_equal_extractor").checked,
                            "content_signable": document.getElementById("transcript" + "-" + "content_signable").checked

                        },
                        {
                            "doc_type": "passport",
                            "automatic_processable": document.getElementById("passport" + "-" + "automatic_processable").checked,
                            "issuer_equal_extractor": document.getElementById("passport" + "-" + "issuer_equal_extractor").checked,
                            "content_signable": document.getElementById("passport" + "-" + "content_signable").checked
                        },
                        {
                            "doc_type": "university_id",
                            "automatic_processable": document.getElementById("university_id" + "-" + "automatic_processable").checked,
                            "issuer_equal_extractor": document.getElementById("university_id" + "-" + "issuer_equal_extractor").checked,
                            "content_signable": document.getElementById("university_id" + "-" + "content_signable").checked
                        }
                    ]
                }
            )
        }

        $.ajax(settings).done(function (response) {
            console.log(response);
            toastr.warning("Document configuration details added successfully!");
        }).fail(function () {
            toastr.warning("Can't access document configuration api");
        });
    }

    function getWhiteList() {
        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "http://" + varProperties.validator.host + "/api-validator/" + varProperties.validator.apiVersion + "/" + varProperties.validator.apiKey + "/getconfig/whitelist/",
            "method": "GET",
            "headers": {
                "Authorization": "Basic " + btoa(varProperties.validator.userName + ":" + varProperties.validator.password)
            }
        }
        $.ajax(settings).done(function (response) {
            console.log(response);

            console.log(whiteList);
            response.white_list.forEach(function (item) {
                whiteList.push(item);
                whiteListUl.append("<li class='ms-elem-selectable'><span>" + item + "</span></li>");
                console.log(item);
            });
        }).fail(function () {
            toastr.warning("Can't access get whitelist api");
        });
    }

    function getBlackList() {
        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "http://" + varProperties.validator.host + "/api-validator/" + varProperties.validator.apiVersion + "/" + varProperties.validator.apiKey + "/getconfig/blacklist/",
            "method": "GET",
            "headers": {
                "Authorization": "Basic " + btoa(varProperties.validator.userName + ":" + varProperties.validator.password)
            }
        }
        $.ajax(settings).done(function (response) {
            console.log(response);

            blackList.concat(response.black_list);
            response.black_list.forEach(function (item) {
                blackList.push(item);
                blackListUl.append("<li selected class='ms-elem-selection ms-selected'><span>" + item + "</span></li>");

                console.log(item);
            });


        }).fail(function () {
            toastr.warning("Can't access get blacklist api");
        });
    }

    function setWhiteList() {
        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "http://" + varProperties.validator.host + "/api-validator/" + varProperties.validator.apiVersion + "/" + varProperties.validator.apiKey + "/saveconfig/whitelist/",
            "method": "POST",
            "headers": {
                "content-type": "application/json",
                "Authorization": "Basic " + btoa(varProperties.validator.userName + ":" + varProperties.validator.password)
            },
            "processData": false,
            "data": JSON.stringify({
                    "white_list": whiteList
                }
            )
        }

        $.ajax(settings).done(function (response) {
            console.log(response);
            toastr.info("Whitelist saved successfully!");
        }).fail(function () {
            toastr.warning("Can't access whitelist saving api");
        });
    }

    function setBlackList() {
        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "http://" + varProperties.validator.host + "/api-validator/" + varProperties.validator.apiVersion + "/" + varProperties.validator.apiKey + "/saveconfig/blacklist/",
            "method": "POST",
            "headers": {
                "content-type": "application/json",
                "Authorization": "Basic " + btoa(varProperties.validator.userName + ":" + varProperties.validator.password)
            },
            "processData": false,
            "data": JSON.stringify({
                    "black_list": blackList
                }
            )
        }

        $.ajax(settings).done(function (response) {
            console.log(response);
            toastr.info("Blacklist saved successfully!");
        }).fail(function () {
            toastr.warning("Can't access Blacklist saving api");
        });
    }

    $("form#sign-certs-form").submit(function () {

        var formData = new FormData($("#sign-certs-form")[0]);
        formData.set("cert", formData.get("pubCert"));
        $.ajax({
            url: "http://" + varProperties.validator.host + "/api-validator/" + varProperties.validator.apiVersion + "/" + varProperties.validator.apiKey + "/savepubcert",
            data: formData,
            headers: {
                "Authorization": "Basic " + btoa(varProperties.validator.userName + ":" + varProperties.validator.password)
            },
            async: true,
            crossDomain: true,
            type: 'POST',
            contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
            processData: false, // NEEDED, DON'T OMIT THIS
            success: function (data, status) {
                console.log("success")
                console.log(data);
                console.log(status);
            },
            complete: function () {
                console.log("completed")
            },
            error: function () {
                toastr.warning("Can't access save public certificate api");
            }
        });

        formData.set("cert", formData.get("pvtCert"));

        $.ajax({
            url: "http://" + varProperties.validator.host + "/api-validator/" + varProperties.validator.apiVersion + "/" + varProperties.validator.apiKey + "/savepvtcert",
            data: formData,
            headers: {
                "Authorization": "Basic " + btoa(varProperties.validator.userName + ":" + varProperties.validator.password)
            },
            async: true,
            crossDomain: true,
            type: 'POST',
            contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
            processData: false, // NEEDED, DON'T OMIT THIS
            success: function (data, status) {
                console.log("success");
                console.log(data);
                console.log(status);
            },
            complete: function () {
                console.log("completed")
            },
            error: function () {
                toastr.warning("Can't access save private certificate api");
            }
        });

        return false;
    });

</script>


<!-- BEGIN CORE PLUGINS -->

<script src="assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
<script src="https://cdn.rawgit.com/kevindb/jquery-load-json/v1.3.3/dist/jquery.loadJSON.min.js"
        integrity="sha384-fG4z44FEBJnIevyzvSDobSmVTsO/oVsxNvKcUl7bO1ihWYDPg2QI83Xi+7wSBzap"
        crossorigin="anonymous"></script>
<script src="assets/global/plugins/bootstrap-table/bootstrap-table.min.js" type="text/javascript"></script>
<script type="text/javascript" src="assets/global/plugins/filesaverjs/filesaver.min.js"></script>
<script src="assets/global/plugins/jquery-repeater/jquery.repeater.js" type="text/javascript"></script>
<script src="assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>
<script src="assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/jquery-tmpl/jquery.tmpl.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>

<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="assets/pages/scripts/table-bootstrap.js" type="text/javascript"></script>
<script src="assets/pages/scripts/form-repeater.min.js" type="text/javascript"></script>
<script src="assets/pages/scripts/components-multi-select.min.js" type="text/javascript"></script>
<script src="assets/custom/scripts/string-beautify.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->

<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="assets/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="assets/layout/scripts/demo.min.js" type="text/javascript"></script>
<script src="assets/layout/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<script src="assets/layout/global/scripts/quick-nav.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->

</body>

</html>