<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-graph"></i>
            <span class="caption-subject bold uppercase font-dark">Individual Score</span>
            <span class="caption-helper font-dark">Individual Score for the Document. This score is generated according to the signatures and content that verify with signatures.</span>
        </div>

    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-6">

                <h4 id="individual-score-single-doc"></h4>

            </div>
            <div class="col-md-6">
                <div id="individual-score-chart-single-doc"></div>
            </div>
        </div>
    </div>
</div>