<!-- BEGIN FORM-->
<form class="form-horizontal" role="form">
    <div class="form-body" id="document">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Passport Type:</label>
                    <div class="col-md-9">
                        <p class="form-control-static" id="passport_type"> </p>
                    </div>
                </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Country Code:</label>
                    <div class="col-md-9">
                        <p class="form-control-static" id="country_code"> </p>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>
        <!--/row-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Passport No:</label>
                    <div class="col-md-9">
                        <p class="form-control-static" id="passport_no"> </p>
                    </div>
                </div>
            </div>
        </div>
        <!--/row-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Surname:</label>
                    <div class="col-md-9">
                        <p class="form-control-static" id="surname"> </p>
                    </div>
                </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Other Names:</label>
                    <div class="col-md-9">
                        <p class="form-control-static" id="other_names">  </p>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>
        <!--/row-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">National Status:</label>
                    <div class="col-md-9">
                        <p class="form-control-static" id="national_status"> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Date of Birth:</label>
                    <div class="col-md-9">
                        <p class="form-control-static" id="date_of_birth">  </p>
                    </div>
                </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Place of Birth:</label>
                    <div class="col-md-9">
                        <p class="form-control-static" id="place_of_birth"> </p>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>
        <!--/row-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Sex:</label>
                    <div class="col-md-9">
                        <p class="form-control-static" id="sex"> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Date of Issue:</label>
                    <div class="col-md-9">
                        <p class="form-control-static" id="date_of_issue">  </p>
                    </div>
                </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Date of Expiry:</label>
                    <div class="col-md-9">
                        <p class="form-control-static" id="date_of_expiry"> </p>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Profession:</label>
                    <div class="col-md-9">
                        <p class="form-control-static" id="profession">  </p>
                    </div>
                </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">ID No:</label>
                    <div class="col-md-9">
                        <p class="form-control-static" id="id_no"> </p>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>
    </div>
</form>
<!-- END FORM-->
