<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-social-dribbble font-green hide"></i>
            <span class="caption-subject font-dark bold uppercase">Signatures</span>
        </div>

    </div>
    <div class="portlet-body">
        <!-- BEGIN: Signature list -->
        <div class="mt-comments" id="signature-list">
            <div class="mt-comment mt-element-ribbon" id="signature-0">
                <div class="ribbon ribbon-vertical-left ribbon-shadow ribbon-color-primary uppercase">
                    <div class="ribbon-sub ribbon-bookmark"></div>
                    <i class="fa fa-pencil-square-o"></i>
                </div>
                <div class="mt-comment-body">
                    <div class="mt-comment-info">
                        <span class="mt-comment-author" id="name">Chamin Wickramarathna</span>

                        <span class="mt-comment-date" id="signed_date">12 March, 11:31AM</span>
                    </div>
                    <div class="mt-comment-text" id="email"> chamin@gmail.com</div>
                    <div class="mt-comment-text" id="type"> Extractor </div>
                    <div class="mt-comment-text" id="expire_date"> Expire on Apr 15 14:11:11 2014 GMT</div>
                    <div class="mt-comment-details">
                        <span class="mt-comment-status mt-comment-status-approved" id="validity">Valid</span>
                        <ul class="mt-comment-actions">
                            <li>
                                <a href="#">More</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
        <!-- END: Signature list -->
    </div>
</div>