<!-- BEGIN FORM-->
<form class="form-horizontal" role="form">
    <div class="form-body" id="document">

        <!--/row-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">University: </label>
                    <div class="col-md-9">
                        <p class="form-control-static" id="university"> University of Moratuwa</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Faculty:</label>
                    <div class="col-md-9">
                        <p class="form-control-static" id="faculty"> Engineering  </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Degree:</label>
                    <div class="col-md-9">
                        <p class="form-control-static" id="degree"> BSc Eng Hons </p>
                    </div>
                </div>
            </div>
        </div>
        <!--/row-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Surname:</label>
                    <div class="col-md-9">
                        <p class="form-control-static" id="surname"> CLINTON </p>
                    </div>
                </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Initials:</label>
                    <div class="col-md-9">
                        <p class="form-control-static" id="initials"> HD </p>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>
        <!--/row-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Index no:</label>
                    <div class="col-md-9">
                        <p class="form-control-static" id="index_no"> 130643V </p>
                    </div>
                </div>
            </div>
        </div>
        <!--/row-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Address:</label>
                    <div class="col-md-9">
                        <p class="form-control-static" id="line1"> 9A, De Mel Watta Road, Koswatta </p>
                    </div>
                </div>
            </div>
            <!--&lt;!&ndash;/span&ndash;&gt;-->
            <!--<div class="col-md-6">-->
                <!--<div class="form-group">-->
                    <!--<label class="control-label col-md-3">Line2:</label>-->
                    <!--<div class="col-md-9">-->
                        <!--<p class="form-control-static" id="line2">  </p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;/span&ndash;&gt;-->
        </div>
        <div class="row">
            <!--/span-->
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">NIC:</label>
                    <div class="col-md-9">
                        <p class="form-control-static" id="nic"> 923231196V </p>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>
        <div class="row">
            <!--/span-->
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Valid until:</label>
                    <div class="col-md-9">
                        <p class="form-control-static" id="valid_until"> Dec 2018 </p>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>
        <div class="row">
            <!--/span-->
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Card id:</label>
                    <div class="col-md-9">
                        <p class="form-control-static" id="card_id"> STU-1-41022060-317-130094R </p>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>

    </div>
</form>
<!-- END FORM-->
