<!-- BEGIN FORM-->
<form class="form-horizontal" role="form">
    <div class="form-body" id="document">

        <!--/row-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-6"><b>University: </b></label>
                    <div class="col-md-6">
                        <p class="form-control-static" id="university"> University of Moratuwa</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-6"><b>Faculty:</b></label>
                    <div class="col-md-6">
                        <p class="form-control-static" id="faculty"> Engineering  </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-6"><b>Degree:</b></label>
                    <div class="col-md-6">
                        <p class="form-control-static" id="degree"> BSc Eng Hons </p>
                    </div>
                </div>
            </div>
        </div>
        <!--/row-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-6"><b>Surname:</b></label>
                    <div class="col-md-6">
                        <p class="form-control-static" id="surname"> Ranasinha </p>
                    </div>
                </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-6"><b>Initials:</b></label>
                    <div class="col-md-6">
                        <p class="form-control-static" id="initials"> RAKDG </p>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>
        <!--/row-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-6"><b>Index no:</b></label>
                    <div class="col-md-6">
                        <p class="form-control-static" id="index_no"> 130643V </p>
                    </div>
                </div>
            </div>
        </div>
        <!--/row-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-6"><b>Address:</b></label>
                    <div class="col-md-6">
                        <p class="form-control-static" id="line1"> 9A, De Mel Watta Road, Koswatta </p>
                    </div>
                </div>
            </div>
            <!--&lt;!&ndash;/span&ndash;&gt;-->
            <!--<div class="col-md-6">-->
                <!--<div class="form-group">-->
                    <!--<label class="control-label col-md-3">Line2:</label>-->
                    <!--<div class="col-md-9">-->
                        <!--<p class="form-control-static" id="line2">  </p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;/span&ndash;&gt;-->
        </div>
        <div class="row">
            <!--/span-->
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-6"><b>NIC:</b></label>
                    <div class="col-md-6">
                        <p class="form-control-static" id="nic"> 923231196V </p>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>
        <div class="row">
            <!--/span-->
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-6"><b>Valid until:</b></label>
                    <div class="col-md-6">
                        <p class="form-control-static" id="valid_until"> Dec 2018 </p>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>
        <div class="row">
            <!--/span-->
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-6"><b>Card id:</b></label>
                    <div class="col-md-6">
                        <p class="form-control-static" id="card_id"> STU-1-41022060-317-130094R </p>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>

    </div>
</form>
<!-- END FORM-->
