<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo bg-red bg-font-red">
            <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>

        <!-- END LOGO -->
        <!-- BEGIN PAGE ACTIONS -->
        <!-- DOC: Remove "hide" class to enable the page header actions -->
        <div class="page-actions">
            <a href="../home/main.html">
                <img src="../../assets/logo-small.png" alt="logo" class="logo-default" /> </a>
            <div class="btn-group" >
                <a href="javascript:;" class="btn btn-link disabled" style="background-color: transparent; color:#1BA39C "> <small> Common Protocol for Document Verification</small> </a>
                    <!--<span class="hidden-sm hidden-xs">idStack <small> Common Protocol for Document Verification </small></span>&nbsp;-->
            </div>
        </div>
        <!-- END PAGE ACTIONS -->
        <!-- BEGIN PAGE TOP -->
        <div class="page-top">
        </div>
        <!-- END PAGE TOP -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->